@import "../../../scss/variables";

.card {
  padding: 1.5rem;
  background: #fff;
  border-radius: 0.75rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgb(0, 0, 0, 0.1);
  &__header {
    margin-bottom: 0.5rem;
    h3 {
      font-family: "Poppins";
      color: $text;
      font-size: 1.375rem;
      font-weight: 500;
    }
  }
  &__body {
    color: $gray;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    p {
      font-family: Montserrat;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
