@import "../../scss/variables";

.section {
  &__header {
    background: $primary-light;
    padding: 2rem 0;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    button {
      text-transform: uppercase;
    }
  }
  &__title {
    h2 {
      font-size: 2.25rem;
      font-weight: 500;
    }
    h3 {
      font-size: 1.375rem;
      margin-top: 0.5rem;
      font-weight: 500;
    }
  }
  &__body {
    padding: 1.5rem 0;
  }
  &__item {
    & + .section__item {
      margin-top: 2rem;
    }
    h4 {
      font-size: 1.375rem;
      font-weight: 500;
    }
    ul {
      list-style-position: inside;
      padding-left: 1rem;
    }
    p,
    li {
      line-height: 1.5rem;
      margin-top: 0.75rem;
      color: $text;
      font-family: Montserrat;
    }
  }
}
