@import "../../scss/variables";

.sidebar {
  &__header {
    margin-bottom: 1.5rem;
    h2 {
      font-size: 3.25rem;
      color: $text;
      span {
        color: $accent;
      }
    }
  }
  &__group {
    & + .sidebar__group {
      margin-top: 3rem;
    }
    &-title {
      font-size: 15px;
      color: $gray;
      margin-bottom: 1rem;
      font-weight: 400;
    }
    &-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      row-gap: 1.25rem;
      @media screen and (max-width: 1080px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        column-gap: 1.25rem;
        row-gap: 0.75rem;
      }
      .sidebar__item {
        display: flex;
        align-items: center;
        input {
          cursor: pointer;
          border-radius: 0.125rem;
          width: 1.125rem;
          aspect-ratio: 1;
        }
        label {
          flex: 1;
          font-size: 15px;
          color: $text;
          display: block;
          margin-left: 0.75rem;
          cursor: pointer;
        }
      }
    }
  }
}
