.container.home-container {
  display: grid;
  grid-template-columns: 1.1fr 4fr;
  gap: 1rem;
  margin: 4rem auto 2rem;
  @media screen and (max-width: 1080px) {
    grid-template-columns: 1fr;
  }
}
