@import "./scss/variables";

@font-face {
  font-family: Cabin;
  font-weight: 400;
  src: url("@fonts/Cabin/Cabin-Regular.ttf");
}

@font-face {
  font-family: Cabin;
  font-weight: 500;
  src: url("@fonts/Cabin/Cabin-Medium.ttf");
}

@font-face {
  font-family: Cabin;
  font-weight: 600;
  src: url("@fonts/Cabin/Cabin-SemiBold.ttf");
}

@font-face {
  font-family: Cabin;
  font-weight: 700;
  src: url("@fonts/Cabin/Cabin-Bold.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url("@fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url("@fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url("@fonts/Montserrat/Montserrat-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Cabin", sans-serif;
}

body {
  background: $white;
}

.container {
  width: 1280px;
  margin: 0 auto;
  @media screen and (max-width: 1280px) {
    width: 960px;
  }
  @media screen and (max-width: 1080px) {
    width: 720px;
  }
  @media screen and (max-width: 768px) {
    width: 540px;
  }
  @media screen and (max-width: 554px) {
    width: 100%;
    padding: 0 2rem;
  }
}
