@import "../../../scss/variables";

.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: Montserrat;
  &--primary {
    color: #fff;
    background: $primary;
    border: 1px solid $primary;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  &--text {
    background: none;
    border: none;
    color: $text;
  }
}
