.card__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-content: start;
  @media screen and (max-width: 1080px) {
    margin-top: 2rem;
    grid-template-columns: 1fr;
  }
}
